.login__section {
    width: 80%;
    min-height: 100vh;
    padding: 40px 50px;
}

.login__title {
    text-align: left;
    padding: 40px 0;
    font-size: 2em;
    font-weight: bold;
}

.login__register_link {
    font-style: italic;
    text-decoration: underline;
    color: darkslateblue;
}

.login__register_link:hover {
    color: blue;
}